.row
  .col-md-4.col-md-offset-4
    %h3 Resend confirmation instructions
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form' }) do |f|
      = devise_error_messages!
      %section.form-group= f.email_field :email, placeholder: 'Enter your email', class: 'form-control', autofocus: true
      .row
        .col-md-8.col-md-offset-2
          = f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-block'
          %br/
    = render "devise/shared/links"
