<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>Hi <span class="text-info"><%= current_user.email %></span></h1>
		<hr>
	</div>
</div>
<%= render 'new_tweet' %>
<div class="row">
	<div class="col-md-6 col-md-offset-1">
		<% @posts.each do |post| %>
			<div class="post <% if post.parrent_id.present? %>post-retweeted<% end %>">
				<small> <%= post.created_at.strftime("%d %b %Y") %></small>
				<p>
					<%= post.text %>
					<% if post.parrent_id.present? %>
						<small class="text-muted"> ...retweeted from <%= link_to post.parrent.user.email, user_path(post.parrent.user) %></small>
					<% end %>
				</p>
				<div class="btn-group btn-group-xs" role="group">
					<%= link_to 'Delete', post_path(post), method: :delete, class: "btn btn-warning" %>
				</div>
			</div>
		<% end %>
		<%= paginate @posts %>
	</div>
	<%= render 'user_friends' %>
</div>
