.row
  .col-md-10.col-md-offset-1
    %h1
      = image_tag current_user.avatar.url(:thumb), class: 'img-circle'
      Hi
      %span.text-info= current_user.first_name
    %hr/
= render 'form_new_tweet'
.row
  .col-md-6.col-md-offset-1
    .alert.alert-warning.alert-js{style: 'display:none', role: 'alert'}
  .row
    .col-md-6.col-md-offset-1
      .tweets-js{ id: 'tweets', data: { last_page: @tweets.total_pages } }
        = render @tweets
        = paginate @tweets
    = render 'user_friends'
